{%extends 'base.html' %}


{% block title %}
<title>Add Films Page</title>
{% endblock %}


{% block content %}
<h1>Add a New Film</h1>

<form class="form-container" method="POST" action="{{ url_for('add') }}">
    <label class="form-label" for="title">Title:</label>
    <input class="form-input" type="text" name="title" pattern="[A-Za-z ]+" title="Only letters and spaces are allowed"
        required>

    <label class="form-label" for="yearReleased">Year Released:</label>
    <input class="form-input" type="number" name="yearReleased" min="1920" max="{{ current_year }}"
        title="Enter a valid year" required>

    <label class="form-label" for="rating">Rating:</label>
    <input class="form-input" type="number" name="rating" min="1" max="5" title="Enter a number between 1 and 5"
        required>

    <label class="form-label" for="duration">Duration (minutes):</label>
    <input class="form-input" type="number" name="duration" min="1" title="Enter a positive number" required>

    <label class="form-label" for="genre">Genre:</label>
    <input class="form-input" type="text" name="genre" pattern="[A-Za-z ]+" title="Only letters and spaces are allowed"
        required><br>

    <button class="form-submit" type="submit">Add Film</button>
</form>



{% endblock %}